  <% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーが発生しました
    <% @user.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <div class="row heading">Editing My Page</div>
    <div class="row col-xs-4 col-xs-offset-4">
      <%= form_for [:users, @user] do |f| %>

        <p class="profileedit">プロフィール画像</p>
        <%= f.attachment_field :profile_image %>

        <p class="profileedit">氏名</p>
        <%= f.text_field :name, class: "col-xs-12"  %>

        <p class="profileedit">氏名（カナ）</p>
        <%= f.text_field :name_kana, class: "col-xs-12"  %>

        <p class="profileedit">ニックネーム</p>
        <%= f.text_field :nickname, class: "col-xs-12"  %>

        <p class="profileedit">メールアドレス</p>
        <%= f.text_field :email, class: "col-xs-12"  %>

        <div class="field">
          <%= f.label "パスワード" %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "col-xs-12" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <p><%= f.submit 'edit！', class: "profileeditform editbtn" %></p>
      <% end %>
    </div>

  <div class="row col-xs-4 col-xs-offset-4 editdestroy">
    <%= link_to "退会しますか？", users_user_path, method: :delete, data: {confirm: "本当に退会しますか？"} %>
  </div>