<div class="row heading">
  <p class="heading"><%= current_user.nickname %>'s Page</p>
</div>
<div class="row editdestroy">
  <%= link_to "編集しますか？", edit_users_user_path %>
</div>

<div class="row">
	<div class="col-xs-1"></div>
  <div class="col-xs-5">
    <%= attachment_image_tag @user, :profile_image, fallback: "profile_noimage.png", size:"350x350" %>
  </div>
  <div class="col-xs-6 profile">
    <p> ニックネーム：<%= current_user.nickname %></p>
    <p> 自己紹介：</p>
    <p><%= current_user.self_introduction %></p>
  </div>
</div>