<%= link_to "劇場追加", new_admins_theater_path %> |
<%= link_to "LOG OUT", destroy_admin_session_path, method: :delete %>
<br>
<% @theaters.each do |theater|%>

  <%= link_to admins_theater_path(theater) do %>
    <%= attachment_image_tag theater, :theater_image, fallback: "noimage.jpg" %>
    <p> 劇場名： <%= theater.theater_name %></p>
  <% end %>
    <p> 劇場紹介： <%= theater.introduction %></p>
    <p> 郵便番号： <%= theater.postcode %></p>
    <p> 都道府県： <%= theater.prefecture_code %></p>
    <p> 市区： <%= theater.address_city %></p>
    <p> 町村： <%= theater.address_street %></p>
    <p> 建物名： <%= theater.address_building %></p>
    <p> 電話番号： <%= theater.phonenumber %></p>

<% end %>