<h3>マイページ編集</h3>

<%= form_for @user, url:{controller:'sidebars', action:'update'}  do |f| %>

  <h4>プロフィール画像</h4>
  <%= f.attachment_field :profile_image %>
  <h4>氏名</h4>
  <%= f.text_field :name %>
  <h4>氏名（カナ）</h4>
  <%= f.text_field :name_kana %>
  <h4>ニックネーム</h4>
  <%= f.text_field :nickname %>
  <h4>メールアドレス</h4>
  <%= f.text_field :email %>
  <%= f.submit 'review' %>

<% end %>
