<div class="row searchheight">
    <div class="col-xs-8"></div>
      <div class="col-xs-4">
        <%= search_form_for @search, url: admins_theaters_path do |f| %>
          <%= f.search_field :prefecture_name_or_theater_name_cont, id: "sbox4", placeholder:"劇場名/都道府県" %>
          <%= button_tag id: "sbtn4", type: "submit" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
  </div>

  <div class="row alink">
    <% @theaters.each do |t|%>
      <div class="col-xs-4">
        <div class="theaterindex">
          <%= link_to admins_theater_path(t), data: {"turbolinks" => false} do %>
            <%= attachment_image_tag t, :theater_image, fallback: "/images/noimage.jpg", class: 'theaterimage' %>
            <p class="theatername"> 劇場名： <%= t.theater_name %></p>
          <% end %>
          <p>住所：<%= t.prefecture_name %><%= t.address_city %><%= t.address_street %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row pageng">
    <%= paginate @theaters, class: "paginate col-xs-12" %>
  </div>