<div class="row">

  <div class="row">
    <div class="col-xs-9"></div>
    <div class="col-xs-3">
      <%= search_form_for @search, url: root_path, html: {id:"form4"} do |f| %>
        <%= f.search_field :prefecture_name_or_theater_name_cont, id: "sbox4", placeholder:"劇場名/都道府県" %>
        <%= button_tag id: "sbtn4", type: "submit" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row heading">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">Theater Details</div>
    <div class="col-xs-4"></div>
  </div>

  <div class="row theaterimage_row">
    <%= attachment_image_tag @theater, :theater_image, fallback: "/images/noimage.jpg", class: 'theaterimage_show center-block' %>
  </div>

  <div class="row editdestroy">
    <%= link_to "編集", edit_admins_theater_path, data: {"turbolinks" => false} %>／<%= link_to "削除", admins_theater_path(@theater), method: :delete,  data: {confirm: "本当に削除しますか？"} %>
  </div>


  <table>
    <tr>
      <td class="contacttablewidth">劇場名</td>
      <td><%= @theater.theater_name %></td>
    </tr>

    <tr>
      <td class="contacttablewidth">劇場紹介</td>
      <td><%= @theater.introduction %></td>
    </tr>

    <tr>
      <td class="contacttablewidth">住所</td>
      <td>〒<%= @theater.postcode %><%= @theater.prefecture_name %><%= @theater.address_city %><%= @theater.address_street %><%= @theater.address_building %></td>
    </tr>

    <tr>
      <td class="contacttablewidth">電話番号</td>
      <td><%= @theater.phonenumber %></td>
    </tr>
  </table>

  <% if user_signed_in? && @theater.liked_by?(current_user) %>
    <%= link_to users_theater_theaterlike_path(@theater), method: :delete do %>
      <i class="fa fa-heart" aria-hidden="true" style="color: red;" ></i>
      <%= @theater.theaterlikes.count %>
    <% end %>
  <% else %>
    <%= link_to users_theater_theaterlikes_path(@theater.id), method: :post do %>
      <i class="fas fa-heart" aria-hidden="true" style="color: grey;" ></i>
      <%= @theater.theaterlikes.count %>
    <% end %>
  <% end %>

  <div class="row heading">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">review ＆ recommend spot/spend</div>
    <div class="col-xs-3"></div>
  </div>

  <div class='tabs'>
    <div class='tab-buttons'>
      <span class='content1'>review</span>
      <span class='content2'>recommend</span>
      <div id='lamp' class='content1'></div>
    </div>

    <div class="row tab-content">
      <div class='content1 col-xs-6 col-xs-offset-3'>
          <% @review0.each do |review| %>
            <div class="row revieweach">
              <div class="col-xs-4">
                <%= attachment_image_tag @user, :profile_image, fallback: "/images/profile_noimage.png", size:"120x120"%>
              </div>
              <div class="col-xs-8">
                <p><strong><%= review.user.nickname %></strong></p>
                <p> title：<%= review.title %></p>
                <p> review：<%= review.body %></p>
                <%= attachment_image_tag (review), :review_image, class: "reviewimage" %>
                <i class="fa fa-heart" aria-hidden="true" style="color: red;" ></i>
                <%= review.reviewlikes.count %>
                <p class="alink"><%= link_to '削除', admins_review_path(review), method: :delete,  data: {confirm: "本当に削除しますか？"} %></p>
              </div>
            </div>
          <% end %>
      </div>

    <div class="content2 col-xs-6 col-xs-offset-3">
      <div class="row review">
        <% @review1.each do |spend| %>
          <div class="row revieweach">
            <div class="col-xs-4">
              <%= attachment_image_tag @user, :profile_image, fallback: "/images/profile_noimage.png", size:"120x120"%>
            </div>
            <div class="col-xs-8">
              <p><strong><%= spend.user.nickname %></strong></p>
              <p> title：<%= spend.title %></p>
              <p> recommend：<%= spend.body %></p>
              <%= attachment_image_tag spend, :review_image, class: "reviewimage" %>
              <i class="fa fa-heart" aria-hidden="true" style="color: red;" ></i>
              <%= spend.reviewlikes.count %>
              <p class="alink"><%= link_to '削除', admins_review_path(spend), method: :delete,  data: {confirm: "本当に削除しますか？"} %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
$('.tab-content>div').hide();
$('.tab-content>div').first().slideDown();
  $('.tab-buttons span').click(function(){
    var thisclass=$(this).attr('class');
    $('#lamp').removeClass().addClass('#lamp').addClass(thisclass);
    $('.tab-content>div').each(function(){
      if($(this).hasClass(thisclass)){
        $(this).fadeIn(800);
      }
      else{
        $(this).hide();
      }
    });
  });
</script>