 <%= form_for @contact, :url => users_contact_done_path do |f| %>
  <div>
    <h2>メッセージ確認</h2>

    <div>
      <strong>ニックネーム</strong>
      <p>
        <%= @contact.nickname %>
      </p>
    </div>

    <div>
      <strong>氏名</strong>
      <p>
        <%= f.hidden_field :name %>
        <%= @contact.name %>
      </p>
    </div>

    <div>
      <strong>氏名（カナ）</strong>
      <p>
        <%= f.hidden_field :name_kana %>
        <%= @contact.name_kana %>
      </p>
    </div>

    <div>
      <strong>メールアドレス</strong>
      <p>
        <%= f.hidden_field :email %>
        <%= @contact.email %>
      </p>
    </div>

    <div>
      <strong>内容</strong>
      <p>
        <%= f.hidden_field :message %>
        <%= simple_format(@contact.message) %>
      </p>
    </div>
      <%= f.submit '戻る', name: 'back', mehod: :post %>
      <%= f.submit '送信' %>
  </div>
    <% end %>

<!-- <script>
    $(document).on('turbolinks:load', function(){
    let back = document.getElementById("back");
    back.addEventListener("click", () => {
      window.history.back()
    };
    });
</script> -->