お問い合わせ内容

------------------------------------------------
<p>ニックネーム：<%= @user.nickname %></p>

<p>氏名：<%= @user.name %></p>

<p>氏名（カナ）：<%= @user.name_kana %></p>

<p>メールアドレス：<%= @user.email %></p>

<p>内容：<%= @user.message %></p>

------------------------------------------------