<!DOCTYPE html>
<html>
<head>
  <title>Unforgettable</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
</head>
<body>
<div class="backgroundcolor">


  <div class="container">
    <%= link_to root_path do %>
    <div class="row logo">unforgettable</div>
    <% end %>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

  <div class="wrapper">
    <div class="menu-trigger" href="">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <div class="menu">
          <% if admin_signed_in? %>
            <div class="menu-item"><%= link_to "- new theatre", new_admins_theater_path, data: {"turbolinks" => false} %></div>
            <div class="menu-item"><%= link_to "- all theaters", admins_theaters_path, data: {"turbolinks" => false} %></div>
            <div class="menu-item"><%= link_to "- log out", destroy_admin_session_path, method: :delete %></div>

          <% elsif user_signed_in? %>
            <div class="menu-item"><%= current_user.nickname %>,<br>welcom！</div>
            <div class="menu-item"><%= link_to "- all theaters", root_path, data: {"turbolinks" => false} %></div>
            <div class="menu-item"><%= link_to "- my page", users_user_path(current_user), data: {"turbolinks" => false} %></div>
            <div class="menu-item"><%= link_to "- my likes", users_sidebars_path, data: {"turbolinks" => false} %></div>
            <div class="menu-item"><%= link_to "- contact", new_users_contact_path, data: {"turbolinks" => false} %></div>
            <div class="menu-item"><%= link_to "- log out", destroy_admin_session_path, method: :delete %></div>

          <% else %>
            <div class="menu-item"><%= link_to "- about", users_about_path, class: "text-warning" %></div>
          <% end %>
      </div>
    </nav>
<!--     <div class="overlay"></div>
 -->    </div>
              <%= yield %>
  </div>
</div>

<script type="text/javascript">
$('.menu-trigger').on('click',function(){

    if($(this).hasClass('active')){
      $(this).removeClass('active');
      $('main').removeClass('open');
      $('nav').removeClass('open');
      $('.overlay').removeClass('open');
    } else {
      $(this).addClass('active');
      $('main').addClass('open');
      $('nav').addClass('open');
      $('.overlay').addClass('open');
    }
  });
  $('.overlay').on('click',function(){
    if($(this).hasClass('open')){
      $(this).removeClass('open');
      $('.menu-trigger').removeClass('active');
      $('main').removeClass('open');
      $('nav').removeClass('open');
    }
  });
  </script>
  </body>
</div>
</html>

